<section class="login">
  <header>
    <h1 class="login-title">Allow access to Game of Theories</h1>
  </header>
  <form action="/api/authorize" method="post">
    <div class="form-group">
      <input type="email" name="email" class="form-input" placeholder="Email ID" required />
      <span class="clear-value">x</span>
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-input" placeholder="Password" required />
      <span class="clear-value">x</span>
    </div>
    <div class="form-group">
      <input type="hidden" name="clientID" value={{{clientID}}} />
      <input type="hidden" name="redirectURI" value={{{redirectURI}}} />
    </div>
    <input type="submit" class="btn" value="Sign In">
  </form>
  <p class="forgot-password text-center">Forgot password?</p>
  <p class="text-center">New account? Sign up</p>
</section>