body {
  margin: 0;
  background-color: #efefef;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.health {
  color: #3e214c;
}

.login {
  max-width: 768px;
  width: 80%;
  margin: 0 auto;
}
